@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background: linear-gradient(rgba(29, 30, 35, 0.8), rgba(29, 30, 35, 0.8)),
    url(imgIndex/header-index.jpeg); /*  fondo*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 90vh;
  padding: 80px 0 0 0;
  background-attachment: fixed;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 120px;
  max-height: 100px;
  margin: 40px;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 25px;
  padding: 20px;
  color: white;
  display: block;
  font-weight: 600px;
}
.menu .navbar ul li a:hover {
  color: #f56349;
}
#menu {
  display: none;
}
.menu-icono {
  width: 25px;
  margin-right: 20px;
}
.menu label {
  cursor: pointer;
  display: none;
}
.boton-header {
  display: inline-block;
  padding: 11px 35px;
  color: #ffffff;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgba(245, 99, 72, 1) 0%,
    rgba(254, 140, 32, 1) 100%
  );
  border-radius: 5px;

  /*
  border: 2px solid #ff783b;
  border-radius: 4px;
  margin: 30px;
  padding: 10px 35px;
  background-color: transparent;
  color: #ff783b;
  font-size: 1.2em;*/
}
.boton-header:hover {
  color: #000;
  box-shadow: 20px 15px 25px rgb(253, 148, 56) inset;
  /*
  color: #d4d4d4;
  background-color: #f56349;*/
}
header .header-title {
  height: 430px;
  width: 90%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: auto;
}
.header-title h1 {
  font-size: 5em;
  color: #ff783b;
  padding: 30px;
}
.header-title .txt-1 {
  font-size: 23px;
}
.header-title p {
  color: #d4d4d4;
  font-size: 18px; /*2rem*/
  line-height: 30px;
}
.txt-1 {
  margin-bottom: 0;
}
.txt-2 {
  margin-top: 10px;
}
/* Nuestras Instalaciones */
.container-service {
  background-color: #191a1f;
  color: #777;
  font-size: 25px;
  font-style: oblique;
  height: auto;
  padding: 40px 30px;
}
.presentation h3,
.service-title,
#clases,
#nosotros {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  padding: 30px 40px;
}
.presentation,
.service-container,
.txt-nosotros,
.nosotros-index {
  width: 85%;
  margin: 0 auto;
}

.txt-service {
  width: 80%;
  margin: auto;
}
.nosotros-index {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 50px auto;
}
.nosotros-index h3 {
  margin-bottom: 20px;
}
.nosotros-history {
  text-align: center;
  padding: 40px auto;
  background: linear-gradient(rgba(29, 30, 35, 0.8), rgba(29, 30, 35, 0.8)),
    url(imgIndex/nosotros-index.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: #d4d4d4;
  height: 60vh;
}
.txt-nosotros {
  margin-top: 40vh;
}
.nosotros-history a {
  margin: 30px auto;
}
/* Slider */
.slider {
  margin: 50px auto 0;
  width: 60vw;
  height: auto;
  margin-bottom: 50px;
  overflow: hidden;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px #f3ad18e4;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 800%;
  height: 70vh;
  animation: slide 21s infinite;
}
.slider li {
  width: 100%;
  height: auto;
  position: relative;
}
.texto {
  position: absolute;
  text-align: center;
  padding: 0 200px 40px;
  top: 200px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}
.slider li:hover .texto {
  display: block;
}
.texto h2 {
  font-size: 45px;
  margin: auto;
  color: #ffffff;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  /* 1 */
  0% {
    margin-left: 0%;
  }
  12.5% {
    margin-left: 0%;
  }
  /* 2 */
  13% {
    margin-left: -100%;
  }
  25.5% {
    margin-left: -100%;
  }
  /* 3 */
  26% {
    margin-left: -200%;
  }
  38.5% {
    margin-left: -200%;
  }
  /* 4 */
  39% {
    margin-left: -300%;
  }
  51.5% {
    margin-left: -300%;
  }
  /* 5 */
  52% {
    margin-left: -400%;
  }
  64.5% {
    margin-left: -400%;
  }
  /* 6 */
  65% {
    margin-left: -500%;
  }
  77.5% {
    margin-left: -500%;
  }
  /* 7 */
  78% {
    margin-left: -600%;
  }
  90.5% {
    margin-left: -600%;
  }
  /* 8 */
  91% {
    margin-left: -700%;
  }
  100% {
    margin-left: -700%;
  }
}

/* Cards efecto flip */
.service-container {
  width: 70vw;
  margin: auto;
  padding: auto;
}
#servicio {
  display: flex;
}

.servicio {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px 20px 70px 20px;
}
.cards-flip,
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.cards {
  display: block;
}
.servicio .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.servicio .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
  padding: auto;
}

.servicio .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicio .front h3 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 60px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1em;
}

.servicio .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #273746;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #2c3e50;
}

.servicio .back {
  font-size: 0.8em;
  margin-top: 12px;
  letter-spacing: 2px;
}

.servicio .back p {
  letter-spacing: 1px;
  font-size: 18px;
}
.servicio .back a {
  color: #ffffff;
  font-size: 0.8em;
  border: 2px solid #ff783b;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px auto;
}

.servicio:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.servicio:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/* Nosotros */
.nosotros-index {
  display: flex;
  flex-direction: column;
}
.nosotros-index b {
  color: #f3ad18e4;
}

#btn-nosotros {
  width: auto;
  margin: 30px auto;
}
figure {
  width: 100%;
  margin: auto;
}

/*  */
.section-unirse {
  background-color: #f3ad18e4;
  width: 100%;
  height: 20vh;
  padding: 30px;
}
.unirse {
  text-align: center;
  margin: 10px;
  padding: auto;
}
.unirse p,
h2 {
  height: auto;
  font-size: 2em;
  color: #191a1f;
}

/*-------- FOOTER---------*/
.footer {
  padding: 50px 0 25px;
  background-color: #000;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.link h3 {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.link a {
  font-size: 17px;
  color: #d4d4d4;
  display: block;
  margin-bottom: 10px;
}
.link-redes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.link a:hover {
  color: #f56349;
}
.footer-copy {
  color: #fff;
  text-align: center;
}
/*  */
@media screen and (max-width: 720px) {
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: inherit;
    background-color: #ff783b;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  .menu .navbar ul li a:hover {
    color: #191a1f;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .logo {
    width: 100px;
  }
  .header-title {
    width: 80%;
    font-size: 80%;
  }

  .header-title h1,
  .txt-2 {
    display: none;
  }

  /* Slider */
  .slider {
    width: 90vw;
    height: 50vh;
  }
  .texto {
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .texto h2 {
    font-size: 1.3em;
    color: #ffffff;
  }
  .texto p {
    display: none;
  }
  /* Service */
  .service-title,
  .presentation > h3,
  #nosotros,
  #clases {
    font-size: 1.4em;
    background-color: #f3ad18e4;
  }

  .txt-2,
  .txt-service {
    display: none;
  }

  .nosotros-history {
    height: 35vh;
    margin-bottom: 30px;
  }

  .nosotros-history p {
    margin: 5vh;
    font-size: 16px;
    height: auto;
  }

  .cards-flip {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    display: none;
  }
  .section-unirse {
    height: 100%;
  }

  .footer {
    padding: 30px;
    height: 450px;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer .link-redes {
    justify-content: center;
  }
  .footer .links {
    padding: 0 20px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1020px) {
  .menu .navbar ul li a {
    padding: 15px;
  }
  .header-title {
    width: 60vw;
    top: 60px;
  }
  .header-title h1 {
    display: none;
  }

  .txt-1 {
    padding-top: 80px;
  }
  .txt-2 {
    margin-top: 10px;
  }
  .header-title p {
    font-size: 1.2em;
  }
  .cards-flip {
    display: flex;
    flex-wrap: wrap;
  }
  .slider {
    width: 90%;
  }
  .texto {
    margin: auto;
    padding: 10px auto;
  }
  .texto p {
    font-size: 1.3rem;
    width: 100%;
  }

  .nosotros-history p {
    margin: 25vh auto;
    font-size: 25px;
    height: 400px;
  }
  .box {
    width: 95%;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1021) {
  .cards-flip {
    font-size: 16px;
  }
  .section-unirse p {
    padding: auto;
  }
}
